.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #428bca; /* Bootstrap Blue */
	border-bottom: 16px solid #428bca; /* Bootstrap Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

div[role=main] {
	margin-top: 10px;
	margin-bottom: 10px;
}

.oi::before {
    padding-right: 0.5em;
}

.oi-person::before {
    padding-right: 0.5em;
}

.poster {
    width: 200px;
    height: 285px;
}

.shadow-sm {
    box-shadow: 0rem 0rem .5em .0rem rgba(0,0,0,.075) !important;
}

.filmbox:hover {
	border: 1px solid #AAA !important;
}
