<!DOCTYPE HTML>
<html ng-app="filmsApp">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<div class="container">
    <div role="main">
        <div ng-controller="FilmListController">
            <div class="row">
                <div class="col-sm-6 col-md-4" ng-repeat-start="film in films">
                    <div class="thumbnail">
                        <a href="{{film.link}}">
                            <img src="{{film.poster}}" alt="{{film.title}}"/>
                        </a>
                        <div class="caption">
                            <h3>
                                <a href="{{film.link}}">{{film.title}} ({{film.year}})</a>
                            </h3>
                            <p>{{film.plot}}</p>
                            <p>
                            <div class="btn btn-primary" role="button">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"/>
                                <span class="badge">{{film.score * 100 | number: 1}}%   </span>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="score in film.scores">
                                    <span class="badge glyphicon glyphicon-user">{{score.quantity}}</span>
                                    <span class="badge glyphicon glyphicon-star">{{score.grade * 100 | number: 1}}%</span>
                                    {{score.source}}
                                </li>
                            </ul>
                            </p>

                            <p class="genres">
                                <span class="label label-info" style="margin-right: 2px;"
                                      ng-repeat="genre in film.genres">{{genre}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix" ng-if="$index%3==2"></div>
                <div ng-repeat-end=""></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>